<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/cache
    	http://www.springframework.org/schema/cache/spring-cache.xsd">

    <!-- 自动扫描的包名 -->
    <context:component-scan base-package="cn.studease.scorp">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- 解决 @ResponseBody 汉字返回乱码 默认属性是("ISO-8859-1") 这里改为utf-8 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes">
                        <list>
                            <value>text/plain;charset=UTF-8</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <!-- quartz 配置 -->
    <!--
        启用Quartz的集群化配置
        参考com.cloudvast.quartz.job.SampleJob的写法
        所有Job必须实现Job和Serializable两个接口
        通过com.cloudvast.quartz.QuartzService提供的API来完成Job的调度-->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="configLocation" value="classpath:quartz.properties"/>
        <property name="autoStartup" value="true"/>
    </bean>

    <bean id="scorpQuartzService" class="cn.studease.quartz.DefaultQuartzService186">
        <property name="scheduler" ref="scheduler"/>
        <property name="packagesToScan">
            <list>
                <value>cn.studease.scorp.quartz.job</value>
            </list>
        </property>
    </bean>


    <!--<import resource="spring/spring-dao.xml"/>
    <import resource="spring/spring-properties.xml"/>-->
</beans>